@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-StackSansHeadline: "Stack Sans Headline", sans-serif;
  --font-Sora: "Sora", sans-serif;
  --font-Geist: "GEist", sans-serif;
  --font-HankenGrotesk: "Hanken Grotesk", sans-serif;
}
/*
body {
  
}
*/

input::-ms-reveal,
input::-ms-clear{
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
